@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: #FFF8D6;
    background-color: rgba(255, 247, 237, 1);
    position: relative;
    margin: 0;
    min-height: 100%;
    // padding-bottom: 6.74rem;
    padding-bottom: 3rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    background-color: rgba(255, 247, 237, 1);
    background-color: #FFEAD2;

    // background-color: #F6F1F1;
    .logo {
        color: black;
        text-decoration: none;
        font-size: 25px;
        font-weight: bold;
    }

    .navBtn {
        color: black;
        text-decoration: none;
        font-size: 20px;
        padding: 0 1rem;
    }
}

footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: rgba(37, 37, 37, 1);
    height: 3rem;
}

// *********************** Home page *************************
.home-container {
    padding: 2rem;
    color: #ffffff;
    background-color: #628395;
    min-height: 90vh;
    background-image: url(../assets/back.png);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../assets/7.jpg);
    // background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("../assets/7.jpg") no-repeat center center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 3rem;
        font-weight: 800;
    }

    p {
        font-size: 1.2rem;
        margin: 4rem 0;
    }

    .btn {
        text-align: center;
        // background-color: rgba(255, 166, 0, 0.726);
        background-color: rgba(255, 140, 56, 0.726);
        border-radius: .5rem;
        text-decoration: none;
        color: #ffffff;
        font-size: 1.5rem;
        padding: .9rem 0;
        width: 80%;
        transition: 0.2s all ease-in-out;

        &:hover {
            // background-color: rgba(255, 166, 0, 0.966);
            background-color: rgba(255, 140, 56, 1);
            transform: translateY(-5px);
        }
    }
}

// **************************** About page *****************************
.about-page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // min-height: 90vh;

    .about-hero-image {
        width: 100%;
        // height: 300px;
    }

    .about-page-content {
        // border: 1px solid black;
        padding: 2rem;

        h1 {
            font-size: 32px;
            font-weight: 700;
        }

        p {
            margin: 1rem 0;
            font-size: 16px;
            font-weight: 500;
        }
    }

    .about-page-cta {
        width: 80%;
        margin-bottom: 3rem;
        background: rgba(255, 204, 141, 1);
        padding: 2rem;
        border-radius: 5px;

        h2 {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 2.5rem;
        }

        .link-button {
            font-size: 16px;
            text-decoration: none;
            color: #ffffff;
            border-radius: 10px;
            background: rgb(44, 44, 44);
            padding: 1rem;
            transition: 0.2s all ease-in-out;

            &:hover {
                background: rgb(0, 0, 0);
            }
        }
    }
}

// **************************** Vans page *****************************
.van-list-container {
    // border: 1px solid black;
    margin-bottom: 3rem;
    padding-inline: 23px
}

.van-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 34px;
    margin-top: 57px;
}

.van-tile a {
    color: #161616;
    text-decoration: none;
}

.van-tile img {
    max-width: 100%;
    border-radius: 5px;
}

.van-list-container button {
    margin-right: 20px;
    cursor: pointer;
}

.van-info {
    margin-bottom: 1rem;
}

.van-type {
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #FFEAD0;
    color: #4D4D4D;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
    color: #FFEAD0;
}

.van-type:focus {
    outline: none;
}

.van-type.selected {
    color: #FFEAD0;
}

.van-type.simple:hover,
.van-type.simple.selected {
    background-color: #E17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
    background-color: #115E59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
    background-color: #161616;
}

.van-type.clear-filters {
    margin-left: -20px;
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4D4D4D;
}

i[class*='van-type-'] {
    padding: 7px 14px;
}